<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MS_CIT.Properties.Settings.ConnString" connectionString="server=localhost;database=tutiondb;uid=root;pwd=root;Convert Zero Datetime=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="MS_CIT.Properties.Settings.TuitionManagmentDBConnectionString"
            connectionString="Data Source=PRAVIN\SQLEXPRESS;Initial Catalog=TuitionManagmentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MS_CIT.Properties.Settings.ConnectionString" connectionString="Dsn=MS-CIT APP"
            providerName="System.Data.Odbc" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>